<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
  <a >Выберите действие</a>
  <menu>
    <li> <a href="{{ path('app_movie') }}">
                Список фильмов
            </a></li>
    <li><a href="{{ path('app_movie_random') }}">
                Рандомный фильм
            </a>    </li>
    <li><a href="{{ path('app_car') }}">
                Машины
            </a>    </li>        
  </menu>
</div>

   
        
</body>
</html>